<?xml version='1.0' encoding='utf-8'?>
<widget id="es.subacuaticas.donosti" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Subacuaticas donosti</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <gap:plugin name="org.apache.cordova.splashscreen"/>
	
    <access origin="*" />
	
	<icon src="res/icon.png" />
	<gap:splash src="res/logo.png" />
	
	<!-- see https://github.com/apache/cordova-plugin-splashscreen for details -->
	<platform name="android">
	    <!-- below requires the splash screen plugin -->
	    <!-- docs: https://github.com/apache/cordova-plugin-splashscreen -->
	    <preference name="AutoHideSplashScreen" value="true" />
	    <preference name="SplashScreen" value="screen" />
	    <preference name="SplashScreenDelay" value="3000" />
	    <preference name="SplashMaintainAspectRatio" value="true" />
	</platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>